@model LoginVM
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<!-- Mirrored from bhulua.thememinister.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:14:21 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bdtask">
    <title>Login</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/assets/dist/img/favicon.png">
    <!--Global Styles(used by all pages)-->
    <link href="~/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/typicons/src/typicons.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <!--Third party Styles(used by this page)-->
    <!--Start Your Custom Style Now-->
    <link href="~/admin/assets/dist/css/style.css" rel="stylesheet">
</head>
<body class="bg-white">
    @if (TempData["Verify"] != null)
    {
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Lawyer Firm</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Check Your Email address!
            </div>
        </div>
    }
    <div class="d-flex align-items-center justify-content-center text-center h-100vh">
        <div class="form-wrapper m-auto">
            <div class="form-container my-4">
                <div class="register-logo text-center mb-4">
                    <img src="~/admin/assets/dist/img/logo2.html" alt="">
                </div>
                <div class="panel">
                    <div class="panel-header text-center mb-3">
                        <h3 class="fs-24">Sign into your account!</h3>
                        <p class="text-muted text-center mb-0">Nice to see you! Please log in with your account.</p>
                    </div>
                    <p class="text-muted text-center">We won't post anything without your permission and your personal details are kept private</p>
                    <div class="divider font-weight-bold text-uppercase text-dark d-table text-center my-3">Or</div>
                    <form class="register-form" method="post">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-control is-invalid" id="emial" placeholder="Enter email">
                            <br> <span class=" text-danger text" asp-validation-for="Email"></span>

                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control" id="pass" placeholder="Password">
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" asp-for="RememberMe" class="custom-control-input" id="customCheck1">
                            <br> <span class=" text-danger text" asp-validation-for="RememberMe"></span>
                            <label class="custom-control-label" asp-for="RememberMe">Remember me next time </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Sign in</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    <!-- /.End of form wrapper -->
    <!--Global script(used by all pages)-->
    <script src="~/admin/assets/plugins/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/admin/assets/dist/js/popper.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/admin/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Third Party Scripts(used by this page)-->
    <!--Page Active Scripts(used by this page)-->
    <!--Page Scripts(used by all page)-->
    <script src="~/admin/assets/dist/js/sidebar.js"></script>
</body>

<!-- Mirrored from bhulua.thememinister.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:14:22 GMT -->
</html>
